<div class='calculator'>

<h1><%= @calculator.name %></h1>


<!-- select tag options, var names match InputField "options" attr values  -->
<% select_options = {"term_options" => [["15yr", 15], ["30yr", 30]], 
							"rate_options" => (3.0..5.5).step(0.125),
							"down_options" => (10.0..30.0).step(0.25)} %>

<!--
<h3><%= @inputs %></h3>		

<ul>
<% @inputs.each do |field| %>
	<li><%= field %></li>
<%end%>
</ul>			
-->
<!-- create input fields -->

<%= form_tag do %>
	<% @inputs.each do |field| %>	
	
		<% if field.tag == "heading" %>
			<h4><%= field.name %></h4>	
		<%else%>
		
			<%= label_tag(field.name) %>
			<% if field.tag == "select" %>
				
				<% if field.options.nil? == false %>
					<%= select_tag field.name, options_for_select(select_options[field.options]) %>
				<%else%>
					<%= select_tag field.name %>			
				<%end%>
			
			<% elsif field.tag == "text" %>	
				<%= text_field_tag(field.name) %>			
			<%end%>
					
		<%end%>
	
	<%end%>		
	<%= submit_tag("Calculate") %>	
<%end%>


<!-- create output fields -->
<% if @result.nil? == false %>
	<% @result.each do |name, value| %>
		<h2><%= name %>:</h2>
		<p><%= value %></p>
	<%end%>
<%end%>

</div>  <!-- close .calculator -->


<%= debug(params) if Rails.env.development? %>



