
<h1><%= @calculator.name %></h1>

<!-- 1. Get the fields and labels to show in ANY way -->

<% fields = @calculator.input_fields %>

<%= form_tag do %>
	<% fields.each do |field| %>
		<%= label_tag(field.name) %>
		<!-- Need a little script to convert field.tag into the right rails tag -->
		<!-- "text" -> text_field_tag; "select" -> select_tag-->
		<% if field.tag == "text" %>
			<%= text_field_tag(field.name) %>
		<% elsif field.tag == "select" %>	
			<%= select_tag(field.name) %>
		<%end%>
	<%end%>
	
	<%= submit_tag("Calculate") %>
<%end%>


<!-- 2. Get data to submit to #calculate action -->

<h2>Result: <%= @result %></h2>

<!-- 3. Confirm communication with controller by printing @result -->

<!-- 4. Try to style the page -->


